Base styles
body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
background-image: url("https://ibb.co/1qx2RCS");

    
}


header {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background: #ffffff;
   
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
}

h2 {
    margin-bottom: 30px;

    color: #673de6 !important;
    text-align: center;
    font-size: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 87%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn {
    background-color: #45b2c1;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.invalid-feedback {
    display: none;
    color: #dc3545;
    font-size: 0.875em;
}

.is-invalid + .invalid-feedback {
    display: block;
}

.flash-messages {
    margin-top: 20px;
    text-align: center;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.875em;
    color: #fff;
}

.flash-message.success {
    background-color: #4CAF50;
}

.flash-message.error {
    background-color: #f44336;
}

.text-center {
    text-align: center;
}



body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #45b2c1;
    color: white;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0 1rem;
    border-radius: 8px;
    /* padding: 1rem 0; */
    /* margin-bottom: 20px; */
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #45b2c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}