{% extends "base.html" %}

{% block content %}
<div class="container" style="display: flex; flex-direction: column; gap: 1rem; margin: 200px 0px">
    <header style="background-color: white;">
        <h2 style="width:212px; color: #673de6;">Reset Password</h2>
    </header>
    <form method="post" onsubmit="showLoader()">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
